<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" lang="en-US">
	
	<head>
	
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    		  rel="stylesheet" 
    		  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    		  crossorigin="anonymous">
		  
		  <meta http-equiv="X-UA-Compatible" content="IE=edge; charset=UTF-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		  <title>Home - Administrador</title>
		  <meta name="robots" content="max-image-preview:large">
		  
		  <link rel="stylesheet" type="text/css" href="../css/css-home-administrador/style-home-administrador.css" >
		
		  <style>
				.table1 { 
					width: 100%; margin-bottom: 20px;
				}
				.table1 th,
				.table1 td {
				  font-weight: normal; font-size: 12px; padding: 8px 15px; line-height: 20px; text-align: left; vertical-align: middle; border-top: 1px solid #dddddd;
				}
				.table1 thead th {
				  vertical-align: bottom;
				}   
   
				.table1 .t-small {
				  width: 5%;
				}
				.table1 .t-medium {
				  width: 15%;
				}
				
				/* Small Sizes */
				@media (max-width: 480px) { 
				  .table-action thead {
				    display: none;
				  }
				  .table-action tr {
				    border-bottom: 1px solid #dddddd;
				  }
				  .table-action td {
				    border: 0;
				  }
				  .table-action td:not(:first-child) {
				    display: block;
				  }
				}
		  </style>
		  
		  
		
    </head>
	<body class="page-template-default page page-id-5857 page-child parent-pageid-5855 woocommerce-js
	 	  fullscreen-mode-off page-has-full-background rightclick-block single-author theme-is-dark 
	 	  demo menu-is-vertical page-is-not-fullscreen fullscreen-ui-switchable page-is-opaque theme-fullwidth 
	 	  body-dashboard-push footer-is-off pagebuilder-active edge-to-edge menu-loaded pace-done preloader-done spinning-done goto-top-active">
	
	<div th:replace="~{fragments/fragments-home-administrador :: cabecalho-home-administrador}"></div>
	
		<div id="home" class="container-wrapper container-fullwidth" style="background: rgba(0,0,0,0.50); width: auto;">
			<div class="container clearfix">	
				<div class="mtheme-modular-column " style="padding-bottom: 8rem;;padding-top:56px ; width: auto;">				
					<div class="mtheme-cell-inner" style="padding-left: 1.80rem; padding-right: 1.80rem; width: auto;">
					
	<div id="responsivo" style="width: auto;">
		<h2 style="text-align: left; color: #fff; margin-bottom: 1rem; width: auto;">Clientes Cadastrados</h2>
		
		<table class="table table-action" 
			   style="font-family: arial; max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0; font-size: small; ">
			  <thead>
				    <tr>
					      <th class="t-small" style="color: #fff;">ID</th>
					      <th class="t-medium" style="color: #fff;">Nome</th>
					      <th class="t-small" style="color: #fff;">Celular</th>
						  <th class="t-small" style="color: #fff;">IP</th>
						  <th class="t-medium" style="color: #fff;">Endereço</th>
						  <th class="t-small" ></th>
						  <th class="t-small" ></th> 
				    </tr>
			  </thead>
			  <tbody>
				    <tr th:each="cliente: ${clientes}">
					    <th scope="row" style="padding:1.5rem 1rem 0rem 0.5rem; border-bottom-width: 0;"><span th:text="${cliente.idCliente}" style="color: #a9a9a9;"></span></th>
						<td style="padding:1.5rem 1rem 0rem 0.5rem; border-bottom-width: 0;"><span th:text="${cliente.nomecliente}" style="color: #a9a9a9;"></span></td>
						<td style="padding:1.5rem 1rem 0rem 0.5rem; border-bottom-width: 0;"><span th:text="${cliente.celularCliente}" style="color: #a9a9a9;"></span></td>
						<td style="padding:1.5rem 1rem 0rem 0.5rem; border-bottom-width: 0;"><span th:text="${cliente.ipCliente}" style="color: #a9a9a9;"></span></td> 
						<td style="padding:1.5rem 1rem 0rem 0.5rem; border-bottom-width: 0;"><span th:text="${cliente.enderecoCliente}" style="color: #a9a9a9;"></span></td>
						<td class="col-1" style="text-align: right; padding:1.5rem 1rem 0rem 0.5rem; border-bottom-width: 0;">
			 				<a th:href="${(#mvc.url('AC#listar_servicos_do_cliente_get').arg(0, cliente.idCliente)).build()}" 
							   onmouseover="javascript: this.style.color = '#a6aa3e'"
							   onmouseout="javascript: this.style.color = '#a9a9a9'">serviços
							</a>  
						</td >
						<td class="col-1" style="text-align: right; padding:1.5rem 1rem 0rem 0.5rem; border-bottom-width: 0;">
							<a th:href="${(#mvc.url('AC#editar_cliente_get').arg(0, cliente.idCliente)).build()}" 
							   onmouseover="javascript: this.style.color = '#a6aa3e'"
						   	   onmouseout="javascript: this.style.color = '#a9a9a9'">editar
							</a>
						</td>
						<td class="col-1" style="text-align: right; padding:1.5rem 1rem 0rem 0.5rem; border-bottom-width: 0;">
							<a th:href="${(#mvc.url('AC#excluir_cliente_get').arg(0, cliente.idCliente)).build()}" 
							   onmouseover="javascript: this.style.color = '#a6aa3e'"
						   	   onmouseout="javascript: this.style.color = '#a9a9a9'">excluir
							</a>
						</td>
				    </tr>
			  </tbody>
		</table><!-- #d8fbcb -->
		
	</div>
			
					</div>
				</div>			
			</div>
		</div>
	
	<div th:replace="~{fragments/fragments-home-administrador :: footer-home-administrador}"></div>
	
</body></html>