<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:/www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Home page linc website" />
        <meta name="author" content="Linc" />

        <title>Website-linc</title>

        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <link href="css/css-website/style.css" rel="stylesheet" />
        
        <style>
        	@media (max-width: 480px) { 
			  #imagem {
			  	width: 100vw !important;
			  	height: 115vh !important;
			  }
			}
			@media (max-width: 1000px) { 
			  #imagem {
			  	height: 120vh !important;
			  }
			}
			@media (min-width: 500px){
				#opcoes1{
			  	  margin-bottom: 3rem !important;
			  	  padding: 2rem !important;
			  }
			}
			@media (min-width: 1000px){
				header {
				  padding-top: 20rem !important;
				}
				#opcoes1{
			  	  font-size: 55% !important;
			  	  margin-bottom: 3rem !important;
			  	  padding: 2rem !important;
			  }
			}
        </style>
        
    </head>
    <body id="page-top">
    	<div style="position: absolute;">
    		<img id="imagem" src="assets/otherworldly-incantations-forest-worldbuilding.jpg" style="width: 100vw; left: 0px; top: -139.5px; height: 100vh;"/> 
    	</div>

        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: rgba(0,0,0,0.50);">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/" style="color: #bfbfbf !important;">LINC</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="color: #bfbfbf; border: 1px solid #bfbfbf;">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/loja" style="color: #bfbfbf;">Loja</a></li>
                        <li class="nav-item"><a class="nav-link" href="/sobre" style="color: #bfbfbf;">Sobre</a></li>
                        <li class="nav-item"><a class="nav-link" href="/cadastro" style="color: #bfbfbf;">Cadastro</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="masthead" style="padding-top: 10rem; padding-bottom: 20rem; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 1) 95%, #000 100%);">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase" style="background: rgba(0,0,0,0); -webkit-text-fill-color: #bfbfbf;">
                        	<a href="/reparacao-de-dispositivos" class="btn text-uppercase" id="opcoes1" style="background-color: rgba(0,0,0,0.25); width:100%; margin-bottom: 2rem;">Reparação e Manutenção de Dispositivos</a>
                        </h1>
                        <h1 class="mx-auto my-0 text-uppercase" style="background: rgba(0,0,0,0); -webkit-text-fill-color: #bfbfbf;">
                        	<a href="/suporte-servico-tecnico-informatica" class="btn text-uppercase" id="opcoes1" style="background-color: rgba(0,0,0,0.25); width:100%; margin-bottom: 2rem;">Suporte e Servico Técnico de T.I</a>
                        </h1>
                        <h1 class="mx-auto my-0 text-uppercase" style="background: rgba(0,0,0,0); -webkit-text-fill-color: #bfbfbf;">
                        	<a href="/criacao-desenvolvimento-sistemas" class="btn text-uppercase" id="opcoes1" style="background-color: rgba(0,0,0,0.25); width:100%; margin-bottom: 2rem;">Criação e Desenvolvimento de Sistemas</a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>
<!--         <section class="about-section text-center" id="about"> -->
<!--             <div class="container px-4 px-lg-5"> -->
<!--                 <div class="row gx-4 gx-lg-5 justify-content-center"> -->
<!--                     <div class="col-lg-8"> -->
<!--                         <h2 class="text-white mb-4" style="color: #bfbfbf !important;">LINC</h2> -->
<!--                         <p class="text-white-50"> -->
<!--                             Grupo especializado em serviços diversos na área da tecnologia. Confira abaixo. -->
<!--                         </p> -->
<!--                     </div> -->
<!--                 </div> -->
<!--                 <img class="img-fluid" src="assets/img/ipad.png" alt="..." /> -->
<!--             </div> -->
<!--         </section> -->
        
        <script src="js/js-website/script1.js"></script>
        <script src="js/js-website/script2.js"></script>
    </body>
</html>
