<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:/www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Home page linc website" />
        <meta name="author" content="Linc" />

        <title>Website-linc</title>

        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <link href="../css/css-website/style.css" rel="stylesheet" />
        
        <style>
			@media (min-width: 1000px){
				h6{
					font-size: 15px !important;
				}
				#preco1{
					font-size: 1.2rem !important;
					padding-top: 2% !important;
				}
				p{
					font-size: 12px !important;
				}
				#tela1{
					width: 85% !important;
					margin-left: auto !important;
					margin-right: auto !important;
				}
				#div1{
					margin-top: 6rem !important;
				}
			}
        </style>
        
    </head>
    <body id="page-top" >
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" > 
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/" >LINC</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/loja" style="color: #bfbfbf;">Loja</a></li>
                        <li class="nav-item"><a class="nav-link" href="/sobre" style="color: #bfbfbf;">Sobre</a></li>
                        <li class="nav-item"><a class="nav-link" href="/cadastro" style="color: #bfbfbf;">Cadastro</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="projects-section bg-light" id="projects" style="background-color: #000 !important;">   
        	<div class="container px-4 px-lg-5" style="margin-top: 6rem;">   
            </div>
            <div class="container px-4 px-lg-5" id="div1">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0" id="tela1" style="width: 100%;">
                        <div class="card py-4 h-100" style="background-color: #fff;border-top: 1px solid #162929;border-left: 1px solid #162929;border-right: 1px solid #162929;border-bottom: 1px solid #162929; padding: 0px !important;">
                            <form method="post" action="/finalizar-compra">
	                            <div class="card-body text-center" style="padding: 0px;" th:each="produto: ${produto}">
	                            	<div class="col-xl-8 col-lg-7" style="width: 100%;">
	                        			<h6 style="color:#162929; padding-left: 5%; padding-top: 3%; padding-bottom: 3%; font-size: 70%; text-align: left; margin: 0px;" th:text="${produto.nomeDoProduto}">.</h6>
	                    			</div>
	                            	<div style="border-top: 1px solid #162929;">
	                            		<img class="img-fluid mb-3 mb-lg-0" alt="Image" th:src="|/imagem/${produto.idProduto}|" />
	                            	</div>
	                            	<div style="padding-left:5%; padding-top:2%; padding-bottom: 3%; padding-right:5%; text-align: left;">
	                            		<h6 id="preco1" style="color: #162929; font-size: 70%;">R$<span th:text="${produto.precoDeVendaProduto}"></span></h6>
	                            	</div>
	                            	<div style="padding-left:5%; padding-top:3%; padding-bottom: 3%; padding-right:5%; text-align: left;">
	                            		<p style="color: #162929; font-size: 10px;" th:text="${produto.marcaDoProduto}"></p>
	                            	</div>
	                            	<div style="padding-left:5%; padding-top:2%; padding-bottom: 3%; padding-right:5%; text-align: left;">
	                            		<div style="padding-bottom:5%;">
	                            			<h6 style="color: #162929; font-size: 65%;">CUSTOMIZAÇÃO:</h6>
	                            			<input type="text" name="" placeholder="campo (opcional)" style="color: #162929; width: 100%; font-size: 70%; height: 2.5rem;"/>
	                            		</div>
	                            		<div style="padding-bottom:10%;">
	                            			<h6 style="color: #162929; font-size: 65%;">QUANTIDADE:</h6>
	                            			<input type="text" name="" placeholder="campo (opcional)" style="color: #162929; width: 100%; font-size: 70%; height: 2.5rem;"/>
	                            		</div>
	                            		<div style="display: block; text-align: center; width: 100%;">
	                             			<button class="btn btn-primary" type="submit" style="margin: 2%; font-size: 70%;" >FINALIZAR COMPRA</button>
	                             		</div> 
	                                </div>
	                            </div>
                            </form>
                        </div>
                    </div>
                </div>
             </div>
        </section>   
		
        <section class="contact-section bg-black" style="padding-top: 15rem !important;">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0" style="width: 100%;">
                        <div class="card py-4 h-100" style="background-color: #000; border: 1px solid #162929;">
                            <div class="card-body text-center">
                                <div class="small "><a href="/" style="color: #bfbfbf; font-size: 12px;">ismaelnc0@gmail.com</a></div>
                                <hr class="my-4 mx-auto" style="color: #bfbfbf;"/>
                                <h5 class="small " style="color: #bfbfbf; font-size: 12px;">71-Martinho Lutero, João Pessoa-PB</h5>
                                <i class="fas fa-envelope text-primary mb-2" style="color: #bfbfbf;"></i>
                                <hr class="my-4 mx-auto" style="color: #bfbfbf;"/>
                                <h5 class="small " style="color: #bfbfbf; font-size: 12px;">+55 (83) 98177-0681</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer bg-black small text-center text-white-50" style="padding-bottom: 4rem !important; padding: 0px;">
        	<div class="container px-4 px-lg-5">&copy; Linc 2022.</div>
        </footer>
        <script src="../js/js-website/script1.js"></script>
        <script src="../js/js-website/script2.js"></script>
    </body>
</html>
