<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:/www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Home page linc website" />
        <meta name="author" content="Linc" />

        <title>Website-linc</title>

        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <link href="css/css-website/style.css" rel="stylesheet" />
        
        <style>
			@media (min-width: 500px){
				#div1{
					margin-top: 6rem !important;
				}
			}
			@media (min-width: 1000px){
				h6{
					font-size: 13px !important;
				}
				p{
					font-size: 10px !important;
				}
				#tela1{
					width: 85% !important;
					margin-left: auto !important;
					margin-right: auto !important;
				}
				#div1{
					margin-top: 6rem !important;
				}
			}
        </style>
        
    </head>
    <body id="page-top" >
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" > 
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="index.html" >LINC</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/loja">Loja</a></li>
                        <li class="nav-item"><a class="nav-link" href="/servicos">Serviços</a></li>
                        <li class="nav-item"><a class="nav-link" href="/cadastro">Cadastro</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="projects-section bg-light" id="projects" style="background-color: #000 !important;">   
        	<div class="container px-4 px-lg-5" id="div1" style="margin-top: 8rem;"></div>
            <div class="container px-4 px-lg-5" style="max-width: 100%;">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0" id="tela1" style="width: 100%;">
                        <div class="card py-4 h-100" style="background-color: #fff;border-top: 1px solid #162929;border-left: 1px solid #162929;border-right: 1px solid #162929;border-bottom: 1px solid #162929; padding: 0px !important;">
                            <div class="card-body text-center" style="padding: 0px;">
                            	<div style="padding:5%; text-align: left;">
                            		<div class="col-xl-8 col-lg-7" style="width: 100%;padding-top: 3%; padding-bottom: 1%; text-align: left;">
			                        	<h4 style="color:#162929; font-size: 100%;">Olá.</h4>
			                    	</div>
			                    	<div class="col-xl-8 col-lg-7" style="width: 100%;padding-top: 1%; padding-bottom: 5%; text-align: left;">
			                    		<h4 style="color:#162929; font-size: 100%;">No momento este serviço apenas está disponível de maneira presencial. Por favor, dirija-se ao nosso ponto de atendimento no endereço: Rua Martinho Lutero - 71.</h4>
			                    		<h4 style="color:#162929; font-size: 100%; padding-top: 1%;">Agradecemos por sua preferencia.</h4>
			                    	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </section>   
        <!-- Bootstrap core JS-->
        <script src="js/js-website/script1.js"></script>
        <!-- Core theme JS-->
        <script src="js/js-website/script2.js"></script>
    </body>
</html>
